.button {
    margin-left: 91%;
    margin-top: -6%;
}
.title {
    background-color: #38c172;
    border-color: #38c172;
}
.bts {
    height: 25px;
    width: 28px;
}
.navTitle {
    color: #ffffff;
}
.navTitle:hover {
    color: #ffffff;
}
.navList {
    color: #000000;
}
.navList:hover {
    color: #000000;
}
.loading {
    margin-left: 950%;
}
.lazyLoad {
    text-align: center;
}
